@charset "utf-8";
@import 'style.variables';
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a {
  cursor: pointer;
}

*:focus {
  outline: none;
}

label {
  font-weight: normal;
}

h1 {
  margin-top: ($line-height-computed / 2);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input, textarea {
  outline: none;
}

label{
  margin-bottom: 0px;
}

.form-control[readonly] {
  background-color: $input-bg;
}

/*** dropdown ***/

.ui-select-bootstrap {
  &.open .ui-select-toggle {
    border-color: #66afe9;
  }

  .ui-select-toggle {
    display: flex;
    z-index: 1;
    height:

    .icon {
      z-index: -1;
      position: absolute;
      top: 8px;
      right: 5px;
    }
  }

  .ui-select-choices-row > span {
    border-left: 3px solid transparent;
  }

  .ui-select-choices-row.active > span {
    background-color: $table-bg-active;
    border-left: 3px solid $table-head-bg;
    color: $text-color-normal;
  }

  .ui-select-choices-row.active > span:hover, .ui-select-choices-row.active > span:focus {
    background-color: $table-bg-active;
    border-left: 3px solid $table-head-bg;
    color: $text-color-normal;
  }

  .ui-select-choices-row > span:hover, .ui-select-choices-row > span:focus {
    background-color: $table-bg-active;
    border-left: 3px solid $table-bg-active;
  }
}

/*** button ***/
.btn-default {
  &:active {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
    outline: none;
  }
  &.focus {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
    outline: none;
  }
  &:active:focus {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
    outline: none;
  }
  &:hover {
    background-color: $btn-default-bg;
    border-color: $btn-default-border;
    outline: none;
  }
}

.btn-primary {
  min-width: 82px;
  &:active {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
    outline: none;
  }
  &:focus {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
    outline: none;
  }
  &:active:focus {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
    outline: none;
  }
  &:hover {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
    outline: none;
  }
}

/*** table ***/
.table {
  margin-bottom: 0px;
}

.ccc-table {
  table-layout: fixed;
  word-break: break-all;
  border: $table-border-color solid 1px;

  > thead {
    > tr {
      height: 35px;
      > th {
        background: $table-head-bg;
        color: white;
        font-weight: normal;
        font-size: $font-size-16;

        text-align: center;
        vertical-align: middle;

        border-top: none;
        border-bottom: none;
        padding: 0px 4px;

        > div {
          display: inline-block;
        }
      }
      > .grid-highlight-cell {
        width: 4px;
        padding: 0px;
      }
      > .grid-checkbox-cell {
        width: 30px;
      }
    }
  }
  > tbody {
    & + tbody {
      border-top: none;
    }

    > tr {
      height: 35px;

      &.active {
        > td.grid-highlight-cell {
          background-color: $table-head-bg;
        }
      }

      &:hover {
        background-color: $table-bg-active;
      }

      > td {
        padding: 2px 4px;
        vertical-align: middle;

        > div {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &.align-right {
            justify-content: flex-end;
          }
          &.align-center {
            justify-content: center;
          }
        }
      }

      > td.grid-highlight-cell {
        border-right: none;
      }

      > td.grid-highlight-cell + td {
        border-left: none;
      }
    }

  }
  > tfoot {
    > tr {
      height: 40px;
      > td {
        vertical-align: middle;
      }
    }
  }
}

/*** nav-bar ***/
.navbar-default {
  border: none;
}

.error-msg-content {
  height: 25px;
  color: red;
}

.container-fluid {
  .ccc-row {
    margin-top: 10px;
  }
}

.ccc-center {
  text-align: center;
}

.ccc-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


body {
  margin: 0px auto;
}
