@charset "utf-8";

/*** Bootstrap Variables ***/
$font-family-parts: "Microsoft YaHei", "Roboto Condensed ", " Arial Narrow ", " HelveticaNeueCondensed ", " HelveticaNeue-Condensed ", " Helvetica Neue Condensed ", " Tahoma ", " Arial ", " San Serif ", sans-serif !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

/*** Parts Variables ***/
$input-field-height: 34px;
$input-field-cell-height: 36px;
$checkbox-field-cell-height: 20px;
$table-head-bg: #2a89d8;

$data-error-color: red;
$data-error-warning: yellow;

$text-color-important: #161616;
$text-color-normal: #252525;

//请参考：http://getbootstrap.com/customize/
//Color

//Scaffolding
$text-color: $text-color-normal;
$link-color: $table-head-bg;
$link-hover-color: $table-head-bg;
//$link-hover-decoration: none;

//Typography
$font-family-base: $font-family-parts;
$font-size-base: 12px;
$font-size-large: 14px;
$font-size-16: 12px;

//Components
$border-radius-base: 4px;

$input-color: black;
$input-bg: transparent;
$input-bg-disabled: lightgray;

//Table
$table-cell-padding: 4px 4px;
$table-bg-active: #dcf8ff;
$table-border-color: #e8e8e8;

//Navbar
//$navbar-height: 43px;
//$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
//
//$navbar-default-color: #ffffff; //导航栏文字颜色
//$navbar-default-bg: #2F2F2F; //导航栏背景颜色
//
//$navbar-default-brand-hover-color: $navbar-default-color; //导航栏LOGO的文字颜色，同文字颜色
//
//$navbar-default-link-color: $navbar-default-color; //导航栏链接颜色，同文字颜色
//$navbar-default-link-active-color: $navbar-default-color; //导航栏Active的链接颜色，同文字颜色
//$navbar-default-link-active-bg: #464646; //导航栏Active的背景颜色
//$navbar-default-link-hover-color: $navbar-default-color; //导航栏Hover的链接颜色，同文字颜色
//$navbar-default-link-hover-bg: #464646; //导航栏Hover的背景颜色

//Button
$btn-border-radius-base: 4px;
$btn-primary-bg: #ff9102;
$btn-primary-border: #ff9102;
$btn-primary-color: white;
$fontsize-input: 14;

//Panel
$panel-primary-heading-bg: $table-head-bg;
$heading-text-color: #fff;

//Datetime Picker
$abdtp-width: 250px;
$abdtp-active-background-color : $table-head-bg;
$abdtp-color-hover : $table-head-bg;