@charset "utf-8";
@import 'common.business-components';

.navbar-default {
  color: $navbar-default-color;

  .es-server-field {
    .label {
      width: 200px;
    }
    .field {
      background-color: transparent;

      .form-control {
        background-color: transparent;
      }
    }
    .input-group-inner-addon {
      color: white;
    }
  }

  .connection-status-img {
    border-radius: $input-field-height;
    width: $input-field-height;
    height: $input-field-height;

    border: 1px solid white;

    margin-left: 10px;

    &.connected {
      background-color: green;
    }
    &.unconnected {
      background-color: red;
    }
  }

}

.log-query-analyzer-content {

  .field-panel {
    width: 300px;

    .pagination-grid {
      th {
        border-color: $table-head-bg;
      }
    }
  }

  .query-panel {
    flex:1;
    overflow: hidden;

    .query-condition-panel {
      display: flex;
    }

    .query-result-panel {

      .scroll-grid .content-container {
        tr.priority-debug {
          background-color: lightgrey;
        }
        tr.priority-info {
          background-color: white;
        }
        tr.priority-error {
          background-color: red;
          color: white;
        }
        tr.priority-error.active{
          color: red;
        }
        tr.priority-warn {
          background-color: yellow;
        }
      }
    }
  }

  .footer-panel {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 0px 10px;
      //
      //.info-positive {
      //  margin: 0px 5px;
      //  color: darkgreen;
      //}
      //
      //.info-nagtive {
      //  margin: 0px 5px;
      //  color: darkred;
      //  text-decoration: line-through
      //}

      .checkbox-group {
        display: flex;

        > *{
          margin:0px 10px;
        }
      }
    }

  }
}

.query-condition-dialog-content {
  textarea {
    height: 500px;
    resize: none;
  }
}
