<div>
    <div class="grid-head-content">
        <table class="table">
            <thead>
            <tr>
                <th ng-if="options.rowCheckable" class="grid-checkbox-cell">
                    <checkbox-field ng-model="isCheckAllRow" on-checked="onAllRowChecked()"/>
                </th>
                <th ng-repeat="col in columns" ng-style="col.headStyle" ng-click="sortData(col, columns)">
                    <div ng-if="col.headTemplate" compile="col.headTemplate"
                         cell-template-scope="col.headTemplateScope"></div>
                    <div ng-if="!col.headTemplate">{{col.headTemplate || col.displayName || col.field}}</div>
                    <div ng-if="col.sort == 'desc'"><i class="glyphicon glyphicon-triangle-bottom"></i></div>
                    <div ng-if="col.sort == 'asc'"><i class="glyphicon glyphicon-triangle-top"></i></div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="grid-body-content">
        <table class="table">
            <thead>
            <tr>
                <th ng-if="options.rowCheckable" class="grid-checkbox-cell"></th>
                <th ng-repeat="col in columns" ng-style="col.headStyle"></th>
            </tr>
            </thead>
            <tbody class="no-data-found" ng-if="gridData == null || gridData.length == 0">
            <tr>
                <td colspan="8">
                    <div style="height:50px;">没有找到匹配的结果。</div>
                </td>
            </tr>
            </tbody>
            <tbody class="data-found" ng-if="gridData.length > 0">
            <tr ng-repeat="item in gridData" ng-click="onRowSelected(item)">
                <td ng-if="options.rowCheckable" class="grid-checkbox-cell">
                    <checkbox-field ng-model="isCheckAllRow" on-checked="onRowChecked()"/>
                </td>
                <td ng-repeat="col in columns" ng-style="col.cellStyle">
                    <div ng-if="col.cellTemplate" compile="col.cellTemplate"
                         cell-template-scope="col.cellTemplateScope"></div>
                    <div ng-if="!col.cellTemplate" title="{{item[col.field]}}">item[col.field]</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="grid-foot-content">
        <table class="table">
            <tbody>
            <td col-span="columnCount">
                <pagination-bar/>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>