<div class="log-query-analyzer-content">
    <div style="display: flex;">
        <div class="field-panel" ng-show="fieldPanelOpenStatus==true">
            <pagination-grid options="columnGridOptions" api="columnGridApi" on-row-checked="onColumnChanged" on-all-row-checked="onColumnChanged"></pagination-grid>
        </div>
        <div class="query-panel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 query-condition-panel">
                        <input class="btn btn-primary" type="button" value="{{fieldPanelOpenStatus==true?'隐藏':'显示'}}" ng-click="toggleFieldPanel()"/>
                        <dropdown-field ng-model="model.selectedQueryProfile" search-title="请选择模板" on-after-option-selected="onQueryProfileSelected" option-list="model.queryProfiles" option-text="name" option-value="name" style="width: 400px;">
                        </dropdown-field>
                        <input class="btn btn-primary" type="button" value="刷新" ng-click="reloadUserProfiles()"/>
                        <div style="width:50px; display: inline-block;"></div>
                        <input class="btn btn-primary" type="button" value="编辑查询条件" ng-click="openQueryConditionDialog()"/>
                        <div style="flex:1"></div>
                        <input class="btn btn-primary" type="button" value="查询" ng-click="query()"/>
                    </div>
                </div>
                <div class="ccc-row row">
                    <div class="col-md-12 query-result-panel">
                        <scroll-grid options="queryResultGridOptions" api="queryResultGridApi" on-cell-selected="onCellSelected"></scroll-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-panel">
        <label-field caption="APP：">
            <div class="checkbox-group">
                <checkbox-field caption="DRP" ng-model="model.isAppDRPSelected" ng-disabled="true"/>
                <checkbox-field caption="PARTS" ng-model="model.isAppPARTSSelected" ng-disabled="true"/>
                <checkbox-field caption="INTERFACE" ng-model="model.isAppINTERFACESelected" ng-disabled="true"/>
            </div>
        </label-field>
        <label-field caption="HOST(s)：">
            <text-field ng-model="model.hosts" type="text" style="width: 200px;"/>
        </label-field>
        <div>排序：{{model.profileSortInfo}}</div>
        <div>最大记录数：{{model.profileQuerySize}}</div>
        <label-field caption="选择内容：" style="flex:1">
            <text-field ng-model="model.clipboard" type="text"/>
        </label-field>
    </div>
</div>