<div class="log-query-analyzer-content">
    <div class="field-panel">
        <pagination-grid options="columnGridOptions" api="columnGridApi" on-row-checked="onColumnChanged" on-all-row-checked="onColumnChanged"></pagination-grid>
    </div>
    <div class="query-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 query-condition-panel">
                    <dropdown-field ng-model="model.selectUserProfile" search-title="请选择模板" option-list="model.userProfiles" option-text="name" option-value="name" style="width: 400px;">
                    </dropdown-field>
                    <div style="width:50px; display: inline-block;"></div>
                    <input class="btn btn-primary" type="button" value="编辑查询条件" ng-click="openQueryConditionDialog()"/>
                    <div style="flex:1"></div>
                    <input class="btn btn-primary" type="button" value="查询" ng-click="query()"/>
                </div>
            </div>
            <div class="ccc-row row">
                <div class="col-md-12 query-result-panel">
                    <pagination-grid options="queryResultGridOptions" api="queryResultGridApi" ></pagination-grid>
                </div>
            </div>
        </div>
    </div>
</div>