<div class="query-condition-dialog-content container-fluid">
    <div class="row">
        <textarea ng-model="queryText" class="col-md-12"></textarea>
    </div>
    <div class="ccc-row row">
        <div class="col-md-12 ccc-center">
            <input class="btn btn-primary place-order-btn" type="button" value="验证JSON格式" ng-click="verify()"/>
            <div style="width:50px; display: inline-block;"></div>
            <input class="btn btn-primary place-order-btn" type="button" value="确认" ng-click="confirm()"/>
            <div style="width:50px; display: inline-block;"></div>
            <input class="btn btn-primary place-order-btn" type="button" value="取消" ng-click="cancel()"/>
        </div>
    </div>
</div>
